include ./icon.pug

mixin detail({ className, heading, content, initialState } = {})
	.detail.js-detail(class=className, data-detail-initial-state=initialState)
		button.detail__button.js-detail__button(type='button')
			span.detail__heading #{ heading }
			span.detail__arrow
				+icon({ icon: 'arrow-right' })
		.detail__body.js-detail__body
			.detail__content
				if block
					block
				else
					p Нет контента
