include ./icon.pug

mixin detail-faq({ className, heading, initialState } = {})
	.detail-faq.js-detail(class=className, data-detail-initial-state=initialState)
		button.detail-faq__button.js-detail__button(type='button')
			span.detail-faq__heading #{ heading }
			span.detail-faq__icon
				span
				span
		.detail-faq__body.js-detail__body
			.detail-faq__content
				if block
					block
				else
					p Нет контента
