include ./icon.pug

mixin detail-faq({ className, heading } = {})
	.detail-faq(class=className)
		button.detail-faq__button(type='button')
			span.detail-faq__heading #{ heading }
			span.detail-faq__icon
				span
				span
		.detail-faq__body
			.detail-faq__content
				if block
					block
				else
					p Нет контента
