mixin input-counter({ className, value = '0', name } = {})
	.input-counter
		button.input-counter__button(type='button')
			span.input-counter__button-text -
		input.input-counter__input(id=id, type='text', value=value, name=name, readonly)
		button.input-counter__button(type='button')
			span.input-counter__button-text +
