include ../mixins/ui/icon.pug

footer.footer
	.container.footer__container
		.footer__body
			.footer__menu
				a.footer__menu-header(href='#') Каталог
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href='#') Новые поступления
					li.footer__menu-item
						a.footer__menu-link(href='#') Платья
					li.footer__menu-item
						a.footer__menu-link(href='#') Платья-макси
					li.footer__menu-item
						a.footer__menu-link(href='#') Платья-мини
					li.footer__menu-item
						a.footer__menu-link(href='#') Коктейльные-платья
					li.footer__menu-item
						a.footer__menu-link(href='#') Топы
			.footer__menu
				a.footer__menu-header(href='#') Коллекции
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href='#') Вечерняя коллекция
					li.footer__menu-item
						a.footer__menu-link(href='#') Свадебная коллекция
					li.footer__menu-item
						a.footer__menu-link(href='#') Spring-summer 25
					li.footer__menu-item
						a.footer__menu-link(href='#') Fall-Winter 24-25
			.footer__menu
				a.footer__menu-header(href='#') Bridal
			.footer__menu
				a.footer__menu-header(href='#') Контакты
			.footer__menu.footer__menu--ms-auto
				p.footer__menu-header(href='#') Доп. информация
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href='#') Политика конфиденциальности
					li.footer__menu-item
						a.footer__menu-link(href='#') Пользовательское соглашение
					li.footer__menu-item
						a.footer__menu-link(href='#') Договор-оферта
					li.footer__menu-item
						a.footer__menu-link(href='#') Оплата
					li.footer__menu-item
						a.footer__menu-link(href='#') Доставка
		.footer__foot
			.footer__social
				a.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'facebook-logo' })
				a.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'instagram-logo' })
				a.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'pinterest-logo' })
				a.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'twitter-logo' })
				a.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'google-logo' })
