nav.navbar
	.container.navbar__container
		p.heading Название страницы
		.navbar__breadcrumbs
			span.navbar__breadcrumbs-link
				a(href='/') Главная
			span.navbar__breadcrumbs-link
				a(href='/') Страница
			span.navbar__breadcrumbs-text Название страницы
