include ../mixins/ui/icon.pug

footer.footer
	.container.footer__container
		.footer__body
			.footer__menu
				a.link.footer__menu-header(href='/catalog.html') Каталог
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Новые поступления
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Платья
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Платья-макси
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Платья-мини
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Коктейльные-платья
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Топы
			.footer__menu
				a.link.footer__menu-header(href='/catalog.html') Коллекции
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Вечерняя коллекция
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Свадебная коллекция
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Spring-summer 25
					li.footer__menu-item
						a.footer__menu-link(href='/catalog.html') Fall-Winter 24-25
			.footer__menu
				a.link.footer__menu-header(href='/bridal.html') Bridal
			.footer__menu.footer__menu--me-auto
				a.link.footer__menu-header(href='/contacts.html') Контакты
			.footer__menu
				p.link.footer__menu-header Доп. информация
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href='/privacy-policy.html') Политика конфиденциальности
					li.footer__menu-item
						a.footer__menu-link(href='/user-agreement.html') Пользовательское соглашение
					li.footer__menu-item
						a.footer__menu-link(href='/offer-agreement.html') Договор-оферта
					li.footer__menu-item
						a.footer__menu-link(href='/faq.html') Вопросы-ответы
					li.footer__menu-item
						a.footer__menu-link(href='/delivery-and-payment.html#delivery') Доставка
					li.footer__menu-item
						a.footer__menu-link(href='/delivery-and-payment.html#payment') Оплата
		.footer__foot
			.footer__social
				a.icon-link.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'facebook-logo' })
				a.icon-link.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'instagram-logo' })
				a.icon-link.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'pinterest-logo' })
				a.icon-link.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'twitter-logo' })
				a.icon-link.footer__social-link(href='#')
					+icon({ className: 'footer__social-icon', icon: 'google-logo' })
