@use "../helpers/mixins" as *;

/* Field styles */

.field {
	display: flex;
	column-gap: 0.625rem;
	container-name: field;
	container-type: inline-size;

	&__label {
		flex: 0 0 auto;
		align-self: center;
		width: 10rem;
		line-height: 1.2;

		&--required {
			&::after {
				content: " *";
				color: var(--color-danger);
				font-size: var(--font-size-lg);
			}
		}

		@container field (width < 40rem) {
			display: none;
		}
	}

	&__input {
		flex: 1 1 auto;
	}
}
