/* Select color styles */

.select-color {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	&__heading {
		color: var(--color-neutral-400);
		font-size: var(--font-size-sm);
	}

	&__body {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&__item {
		flex: 0 0 auto;
	}

	&__label {
		display: flex;
		width: 2.5rem;
		height: 2.5rem;
		border: 1px solid var(--color-neutral-400);
		border-radius: 50%;
		cursor: pointer;
	}

	&__label:has(> &__input:checked) {
		border-color: var(--color-black);
	}

	&__input {
		position: absolute;
		visibility: hidden;
	}
}
