@use "../helpers/mixins" as *;

/* Table cart styles */

.table-cart {
	font-size: var(--font-size-sm);

	&__head {
		display: flex;
		flex-direction: column;
	}

	&__head-row {
		display: grid;
		grid-template-columns: 25rem 6.25rem 1fr 6.25rem 3.125rem;
		column-gap: 0.625rem;
		padding: 0 0.625rem 0.625rem;
		border-bottom: 1px solid var(--color-neutral-100);

		@include max-media("lg") {
			grid-template-columns: 20rem 6.25rem 1fr 6.25rem 3.125rem;
		}

		@include max-media("md") {
			display: none;
		}
	}

	&__head-col {
		display: flex;
		align-items: center;
		column-gap: 1rem;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__body-row {
		position: relative;
		display: grid;
		grid-template-columns: 25rem 6.25rem 1fr 6.25rem 3.125rem;
		column-gap: 0.625rem;
		padding: 0.625rem;
		border-bottom: 1px solid var(--color-neutral-100);

		@include max-media("lg") {
			grid-template-columns: 20rem 6.25rem 1fr 6.25rem 3.125rem;
		}

		@include max-media("md") {
			grid-template-columns: 17.5rem 6.25rem 1fr 6.25rem;
		}

		@include max-media("sm") {
			grid-template-columns: 1fr;
			row-gap: 0.625rem;
		}
	}

	&__body-col {
		display: flex;
		align-items: center;
		column-gap: 1rem;

		img {
			aspect-ratio: 4/5;
			width: 7.5rem;
			object-fit: cover;
			object-position: center;

			@include max-media("lg") {
				width: 5rem;
			}

			@include max-media("sm") {
				width: 9.875rem;
			}
		}

		&:nth-child(2) {
			@include max-media("sm") {
				grid-row-start: 4;
			}
		}

		&:nth-child(5) {
			@include max-media("md") {
				position: absolute;
				top: 0.625rem;
				right: 0.625rem;
			}
		}
	}

	&__body-col-label {
		display: none;

		@include max-media("sm") {
			display: flex;
			flex: 1 1 auto;

			&::after {
				flex: 1 1 auto;
				margin-inline-start: 0.625rem;
				height: var(--font-size-base);
				border-bottom: 1px dotted currentColor;
				content: "";
			}
		}
	}
}
