@use "../helpers/mixins" as *;

/* Account styles */

.account {
	display: grid;
	grid-template-columns: 12.5rem 1fr;
	align-items: start;
	gap: 1.875rem;

	@include max-media("lg") {
		gap: 1.875rem;
	}

	@include max-media("md") {
		grid-template-columns: 1fr;
	}

	@include max-media("sm") {
		gap: 1.25rem;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		background-color: var(--color-neutral-100);
	}

	&__menu-button {
		display: none;

		@include max-media("md") {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 1rem;
			padding: 0.625rem;
			border: none;
			background: none;
		}
	}

	&__menu-button-text {
		font-size: var(--font-size-sm);
	}

	&__menu-button-icon {
		width: 1.25rem;
		height: 1.25rem;
		transition: all var(--transition-ease-100) 0s;
	}

	&__menu-button:is(.is-active) &__menu-button-icon {
		transform: rotate(0.25turn);
	}

	&__menu-body {
		padding-inline: 1.25rem;
		overflow: hidden;

		@include media("md") {
			height: 100% !important;
		}

		@include max-media("md") {
			padding-inline: 0.625rem;
		}
	}

	&__menu-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 0.625rem;
		padding-block: 1.25rem;
		overflow: hidden;

		@include max-media("md") {
			padding-block: 0.25rem 0.625rem;
		}
	}

	&__menu-link {
		color: var(--color-neutral-600);
		font-size: var(--font-size-sm);
		text-decoration: none;

		&:is(button) {
			padding: 0;
			border: none;
			background: none;
			cursor: pointer;
		}

		&.is-current {
			color: var(--color-black);
			font-weight: 500;
			pointer-events: none;
		}

		@include hover {
			color: var(--color-black);
			text-decoration: underline;
			text-underline-offset: 0.25em;
		}
	}

	&__body,
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 1.875rem;

		@include max-media("lg") {
			row-gap: 1.875rem;
		}

		@include max-media("sm") {
			row-gap: 1.25rem;
		}
	}

	&__form {
		width: min(100%, 42rem);
		container-name: account-from;
		container-type: inline-size;
	}

	&__field-group {
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
	}

	&__form-submit {
		margin-inline-start: 10.625rem;

		@container account-from (width < 40rem) {
			margin-inline-start: 0;
		}
	}
}
