@use "../helpers/mixins" as *;

/* Catalog products styles */

.catalog-products {
	margin-bottom: 6.25rem;

	@include max-media("lg") {
		margin-bottom: 3.75rem;
	}

	@include max-media("md") {
		margin-bottom: 1.875rem;
	}

	@include max-media("sm") {
		margin-bottom: 0.625rem;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1.875rem;

		@include max-media("lg") {
			grid-template-columns: repeat(2, 1fr);
			gap: 1.25rem;
		}

		@include max-media("sm") {
			grid-template-columns: repeat(1, 1fr);
			gap: 0.625rem;
		}
	}
}
