@use "../helpers/mixins" as *;

/* Catalog previews styles */

.catalog-previews {
	margin-bottom: 6.25rem;
	background-color: var(--color-neutral-50);

	@include max-media("lg") {
		margin-bottom: 3.75rem;
	}

	@include max-media("md") {
		margin-bottom: 1.875rem;
	}

	@include max-media("sm") {
		margin-bottom: 0.625rem;
	}

	&__container {
		padding-block: 6.25rem;

		@include max-media("lg") {
			padding-block: 3.75rem;
		}

		@include max-media("md") {
			padding-block: 1.875rem;
		}

		@include max-media("sm") {
			padding-block: 0.625rem;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.875rem;
		margin-inline: auto;
		width: min(100%, 70rem);

		@include max-media("md") {
			gap: 1.25rem;
		}

		@include max-media("sm") {
			grid-template-columns: 1fr;
			gap: 0.625rem;
		}
	}
}
