/* Fullscreen slider styles */

.fullscreen-slider {
	width: 100%;
	height: 100vh;
	height: 100dvh;

	&__wrapper {
		height: 100%;
	}

	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100vh;
		height: 100dvh;
	}

	&__slide-image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__slide-body {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__slide-heading {
		font-family: var(--font-family-accent);
		font-size: clamp(3rem, 16.36vi + -1.09rem, 12rem);
		font-weight: 400;
	}

	&__slide-header-image {
		width: min(43.75rem, 90%);
	}

	&__slide-foot {
		position: relative;
		flex: 0 0 auto;
		align-items: center;
		margin-block-start: auto;
		padding-block: 1.25rem;
		text-align: center;
	}

	&__footer {
		padding-top: 5.25rem;
		width: 100%;
		height: 100vh;
		height: 100dvh;
		overflow: hidden;
	}

	&__footer-wrapper {
		width: 100%;
		height: auto;
		-webkit-overflow-scrolling: touch;

		.footer {
			height: auto;

			&__container {
				justify-content: space-between;
			}
		}
	}
}
