@use "../helpers/mixins" as *;

/* Section auth styles */

.section-auth {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	&__container {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-block: 6.25rem;

		@include max-media("sm") {
			padding-block: 1.875rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 1.25rem;
		width: min(100%, 18rem);
	}

	&__form-head {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 1.875rem;
	}

	&__form-foot {
		display: flex;
		align-items: flex-start;
	}
}
