extends ./layouts/page.pug

include ./mixins/page-navbar.pug

block head
	-
		var title = "Страница не найдена – SALUZA";

block content
	-
		var heading = 'Данной страницы не существует';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
