extends ./layouts/page.pug

include ./mixins/page-navbar.pug

block head
	-
		var title = 'О компании - SALUZA';

block content
	-
		var heading = 'Вечерние платья';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' },
			{ text: 'Каталог', href: '/catalog.html' },
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
