extends ./layouts/page.pug

include ./mixins/page-navbar.pug
include ./mixins/card-blog.pug

block head
	-
		var title = 'Название статьи - SALUZA';

block content
	-
		var heading = 'Название статьи';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' },
			{ text: 'Блог', href: '/blog.html' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
		section.section
			.container.section__container
				.section__head
					h1.text-xl.font-base Название статьи
				.section__body
					.blog-article
						img.blog-article__image(src='/assets/images/article-1.jpg', alt='Название статьи')
						.blog-article__text
							h2 Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Точках дороге свою образ текст, ведущими большого подзаголовок возвращайся родного.
							p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Свой безорфографичный, залетают ты журчит рукописи маленькая. Имени переписывается прямо безорфографичный предупреждал диких снова, приставка до своего дал предложения вдали единственное все силуэт заголовок курсивных заманивший там она ты на берегу!
							p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
					h2.text-xl.font-base Читайте также
					.blog-grid
						+card-blog({ name: 'Название статьи', image: '/assets/images/catalog-product-1.jpg', text: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жизни, путь. Выйти но правилами переулка точках. Текстами, взобравшись однажды.' })
						+card-blog({ name: 'Название статьи', image: '/assets/images/catalog-product-2.jpg', text: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жизни, путь. Выйти но правилами переулка точках. Текстами, взобравшись однажды.' })
						+card-blog({ name: 'Название статьи', image: '/assets/images/catalog-product-3.jpg', text: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жизни, путь. Выйти но правилами переулка точках. Текстами, взобравшись однажды.' })
						+card-blog({ name: 'Название статьи', image: '/assets/images/catalog-product-4.jpg', text: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жизни, путь. Выйти но правилами переулка точках. Текстами, взобравшись однажды.' })
