extends ./layouts/page.pug

include ./mixins/page-navbar.pug

block head
	-
		var title = 'Название статьи - SALUZA';

block content
	-
		var heading = 'Название статьи';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' },
			{ text: 'Блог', href: '/blog.html' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
