extends ./layouts/page.pug

include ./mixins/page-navbar.pug
include ./mixins/card-product.pug
include ./mixins/ui/icon.pug

block head
	-
		var title = 'Каталог - SALUZA';

block content
	-
		var heading = 'Каталог';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
		section.section.section--pb-none
			.container.section__container
				.section__body
					.filters
						ul.filters__list
							li.filters__item
								a.link.filters__link.is-active(href='#') Все товары
							li.filters__item
								a.link.filters__link(href='#') Горячие товары
							li.filters__item
								a.link.filters__link(href='#') Новое поступление
							li.filters__item
								a.link.filters__link(href='#') Скидки
						button.filters__button
							+icon({ className: 'catalog-filters__button-icon', icon: 'filter' })
							span.filters__button-text Фильтр
		section.section
			.container.section__container
				.section__body
					.catalog-grid
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-2.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-3.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-4.jpg', price: '35.000 ₽' })
		section.section(class=['section--lg:fullscreen', 'bg-neutral-75'])
			.container.section__container
				.section__body.section__body--items-center.section__body--justify-center
					.preview
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-preview-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-preview-1.jpg', price: '35.000 ₽' })
		section.section
			.container.section__container
				.section__body
					.catalog-grid
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-2.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-3.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-4.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-2.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-3.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-4.jpg', price: '35.000 ₽' })
		section.section(class=['section--lg:fullscreen', 'bg-neutral-75'])
			.container.section__container
				.section__body.section__body--items-center.section__body--justify-center
					.preview
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-preview-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-preview-1.jpg', price: '35.000 ₽' })
		section.section
			.container.section__container
				.section__body
					.catalog-grid
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-2.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-3.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-4.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-1.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-2.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-3.jpg', price: '35.000 ₽' })
						+card-product({ name: 'Andromeda Saluza', image: './assets/images/catalog-product-4.jpg', price: '35.000 ₽' })
