extends ./layouts/page.pug

include ./mixins/page-navbar.pug

block head
	-
		var title = 'Оформление заказа - SALUZA';

block content
	-
		var heading = 'Оформление заказа';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' },
			{ text: 'Корзина', href: '/cart.html' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
