extends ./layouts/page.pug

include ./mixins/page-navbar.pug
include ./mixins/ui/detail-faq.pug

block head
	-
		var title = 'Доставка и оплата - SALUZA';

block content
	-
		var heading = 'Доставка и оплата';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
		section.section
			.container.section__container
				.section__head
					h1.text-2xl.font-base Доставка и оплата
				.section__body
					.flow-text
						h2#delivery.text-2xl.font-base Доставка
						.text-neutral-400
							p Доставка продукции SALUZA осуществляется с помощью наших партнеров – логистических компаний Деловые линии и Сдек. Благодаря широкой географии компаний – Вы можете получить свой заказ находясь практически в любом уголке России. И будьте уверены все будет доставлено в хорошем качестве, мы строго следим за качеством транспортировки и временем доставки.
							p Также у Вас всегда есть возможность заказать свой транспорт или приехать самостоятельно для получения заказа – Вам необходимо только заранее связаться с нами и сообщить ФИО и данные по транспортному средству.
						h3.text-2xl.font-base Часто задаваемые вопросы
						+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
							p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
						+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
							p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
					.flow-text
						h2#payment.text-2xl.font-base Оплата
						.text-neutral-400
							p Для оплаты товара сформируйте заказ и в корзине перейдите в раздел оформление заказа. Заполните контактные данные, способ доставки.
							p Для оплаты товара с помощью банковской карты на странице Оформление заказа выберете Оплата заказа банковской картой. Оплата происходит через Платежный сервис ЮKassa (ООО НКО "ЮМани") с использованием банковских карт следующих платёжных систем:
							p МИР;
							p VISA International;
							p Mastercard Worldwide;
						h3.text-2xl.font-base Часто задаваемые вопросы
						+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
							p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
						+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
							p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
