extends ./layouts/page.pug

include ./mixins/page-navbar.pug
include ./mixins/ui/detail-faq.pug

block head
	-
		var title = 'Вопросы-ответы - SALUZA';

block content
	-
		var heading = 'Вопросы-ответы';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' },
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
		section.section
			.container.section__container
				h1.text-xl.font-base Часто задаваемые вопросы
				.grid-faq
					+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
						p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
					+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
						p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
					+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
					+detail-faq({ heading: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.' })
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая от всех, lorem знаках своего запятой безопасную текст она грамматики!
						p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Большого ее злых это путь пустился? Которое, рыбного даль своих первую всеми живет, дороге, они злых меня сбить толку инициал?
