extends ./layouts/page.pug

block head
	-
		var title = 'SALUZA';

block content
	main.main
		section.home-slider
			.home-slider__slide
				img.home-slider__slide-image(src='./assets/images/home-slide-1.jpg', alt='')
				.home-slider__slide-body
					img.home-slider__slide-header-image(src='./assets/images/logo-black.svg', alt='SALUZA')
			.home-slider__slide
				img.home-slider__slide-image(src='./assets/images/home-slide-2.jpg', alt='')
				.home-slider__slide-foot.text-white
					p.text-lg.font-semibold.uppercase ВЕЧЕРНИЕ ПЛАТЬЯ
					a.link.uppercase(href='/catalog.html') Подробнее
			.home-slider__slide
				img.home-slider__slide-image(src='./assets/images/home-slide-3.jpg', alt='')
				.home-slider__slide-foot.text-white
					p.text-lg.font-semibold.uppercase СВАДЕБНЫЕ ПЛАТЬЯ
					a.link.uppercase(href='/catalog.html') Подробнее
