extends ./layouts/page.pug

block head
	-
		var title = 'SALUZA';

block content
	main.main
		section.slider-fullscreen
			.slider-fullscreen__slide
				img.slider-fullscreen__slide-image(src='./assets/images/home-slide-1.jpg', alt='')
				.slider-fullscreen__slide-body
					img.slider-fullscreen__slide-header-image(src='./assets/images/logo-black.svg', alt='SALUZA')
			.slider-fullscreen__slide
				img.slider-fullscreen__slide-image(src='./assets/images/home-slide-2.jpg', alt='')
				.slider-fullscreen__slide-foot.text-white
					p.text-lg.font-semibold.uppercase ВЕЧЕРНИЕ ПЛАТЬЯ
					a.link.uppercase(href='/catalog.html') Подробнее
			.slider-fullscreen__slide
				img.slider-fullscreen__slide-image(src='./assets/images/home-slide-3.jpg', alt='')
				.slider-fullscreen__slide-foot.text-white
					p.text-lg.font-semibold.uppercase СВАДЕБНЫЕ ПЛАТЬЯ
					a.link.uppercase(href='/catalog.html') Подробнее
