doctype html

html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='HandheldFriendly', content='true')
		meta(name='MobileOptimized', content='width')

		title SALUZA

		link(rel='apple-touch-icon', sizes='180x180', href='./apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='./favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='./favicon-16x16.png')
		link(rel='icon', type='image/svg+xml', href='./favicon.svg')
		link(rel='manifest', href='./site.webmanifest')
		link(rel='stylesheet', href='./assets/styles/vendor.css')
		link(rel='stylesheet', href='./assets/styles/main.css')

	body
		.wrapper
			include ./includes/page-header.pug
			section#fullscreen-slider.swiper.fullscreen-slider
				.swiper-wrapper.fullscreen-slider__wrapper
					.swiper-slide.fullscreen-slider__slide
						//- img.fullscreen-slider__slide-image(src='/assets/images/home-slide-1.jpg', alt='')
						video.fullscreen-slider__slide-video(poster=poster, autoplay, muted, loop)
							source(src='/assets/media/catalog-preview-1.mp4', type='video/mp4', media='(max-width: 48rem)')
							source(src='/assets/media/catalog-preview-1.mp4', type='video/mp4', media='(min-width: 48rem)')
						.fullscreen-slider__slide-body
							h1.fullscreen-slider__slide-heading SALUZA
					.swiper-slide.fullscreen-slider__slide(data-header-color='white')
						a(href='/catalog.html')
							img.fullscreen-slider__slide-image(src='/assets/images/home-slide-2.jpg', alt='')
						.fullscreen-slider__slide-foot.text-white
							p.text-lg.font-semibold.uppercase ВЕЧЕРНИЕ ПЛАТЬЯ
							a.link.uppercase(href='/catalog.html') Подробнее
					.swiper-slide.fullscreen-slider__slide(data-header-color='white')
						a(href='/catalog.html')
							img.fullscreen-slider__slide-image(src='/assets/images/home-slide-3.jpg', alt='')
						.fullscreen-slider__slide-foot.text-white
							p.text-lg.font-semibold.uppercase СВАДЕБНЫЕ ПЛАТЬЯ
							a.link.uppercase(href='/catalog.html') Подробнее
					.swiper-slide.fullscreen-slider__slide.bg-white
						#fullscreen-slider-footer.swiper.fullscreen-slider__footer
							.swiper-wrapper.fullscreen-slider__footer-wrapper
								.swiper-slide.fullscreen-slider__footer-slide
									include ./includes/page-footer.pug

		script(src='./assets/scripts/vendor.js')
		script(src='./assets/scripts/index.js')
