extends ./layouts/page.pug

include ./mixins/ui/button.pug
include ./mixins/ui/input-checkbox.pug

block head
	-
		var title = 'Вход - SALUZA';

block content
	main.main.offset-header
		section.section.section--grow
			.container.section__container
				.section__body.section__body--items-center.section__body--justify-center
					form.form-auth(action='#')
						.form-auth__head
							a.link.is-current(href='/login.html') Вход
							a.link.text-neutral-400(href='/registration.html') Регистрация
						.form-auth__body
							input.input(name='user_login', type='text', placeholder='Логин', required)
							input.input(name='user_password', type='password', placeholder='Пароль', required)
							+button({ text: 'Войти', type: 'submit' })
							+input-checkbox({ label: 'Запомнить меня', name: 'user_remember' })
						.form-auth__foot
							a.link.text-sm(href='/forgot-password.html') Забыли пароль?
