extends ./layouts/page.pug

include ./mixins/page-navbar.pug
include ./mixins/ui/button.pug
include ./mixins/ui/input-checkbox.pug

block head
	-
		var title = 'Оформление заказа - SALUZA';

block content
	-
		var heading = 'Оформление заказа';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' },
			{ text: 'Корзина', href: '/cart.html' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
		section.section
			.container.section__container
				.section__head
					h1.text-2x.font-base Оформление заказа
				.section__body
					form.order(action='#')
						h2.text-2x.font-base Платежные данные
						.order__body
							.order__field-group
								.field
									label.field__label.field__label--required.text-sm ФИО
									input.input.field__input(type='text', name='order_full_name', placeholder='ФИО', required)
								.field
									label.field__label.field__label--required.text-sm Страна
									input.input.field__input(type='text', name='order_country', placeholder='Страна', required)
								.field
									label.field__label.field__label--required.text-sm Город
									select.select.field__input(type='text', name='order_city', placeholder='Город', required)
										option(value='', disabled, selected) Город
										option(value='Пермь') Пермь
										option(value='Москва') Москва
										option(value='Санкт-Петербург') Санкт-Петербург
								.field
									label.field__label.field__label--required.text-sm Адрес
									input.input.field__input(type='text', name='order_address', placeholder='Адрес', required)
								.field
									label.field__label.field__label--required.text-sm Индекс
									input.input.field__input(type='text', name='order_zip_code', placeholder='Индекс', required)
								.field
									label.field__label.field__label--required.text-sm Телефон
									input.input.field__input(type='tel', name='order_phone', placeholder='Телефон', required)
								.field
									label.field__label.field__label--required.text-sm E-mail
									input.input.field__input(type='email', name='order_email', placeholder='E-mail', required)
						h2.text-2x.font-base Ваш заказ
						.order__body
							.order__table
								.order__table-row
									.order__table-cell
										span Andromeda Saluza
									.order__table-cell
										span.order__table-label Кол-во
										span х1
									.order__table-cell
										span.order__table-label Цена
										span 35.000 ₽
								.order__table-row
									.order__table-cell
										span Iphromeda Saluza
									.order__table-cell
										span.order__table-label Кол-во
										span х2
									.order__table-cell
										span.order__table-label Цена
										span 70.000 ₽
								.order__table-row
									.order__table-cell
										span Andromeda Saluza
									.order__table-cell
										span.order__table-label Кол-во
										span х1
									.order__table-cell
										span.order__table-label Цена
										span 35.000 ₽
								.order__table-row
									.order__table-cell
										span Индивидуальный пошив
									.order__table-cell
										span
									.order__table-cell
										span.order__table-label Цена
										span 4.500 ₽
								.order__table-row
									.order__table-cell
										span Итого
									.order__table-cell
										span
									.order__table-cell
										span.order__table-label Стоимость
										span 144.500 ₽
								.order__payment
									h3.order__payment-label Способ оплаты
									.order__payment-types
										+input-checkbox({ label: 'Оплата онлайн банковской картой', type: 'radio', name: 'order_payment_type', value: '1' })
										+input-checkbox({ label: 'Оплата при доставке', type: 'radio', name: 'order_payment_type', value: '2' })
										+input-checkbox({ label: 'Самовывоз', type: 'radio', name: 'order_payment_type', value: '3' })
								+button({ type: 'submit', text: 'Оформить заказ' })
