extends ./layouts/page.pug

include ./mixins/page-navbar.pug

block head
	-
		var title = 'Заказы - SALUZA';

block content
	-
		var heading = 'Заказы';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
		section.section
			.container.section__container
				.section__body
					.account
						nav.account__menu
							a.account__menu-link(href='/account.html') Личный кабинет
							a.account__menu-link.is-current(href='/orders.html') Заказы
							a.account__menu-link(href='/address.html') Адрес
							a.account__menu-link(href='/favorite.html') Избранное
							button.account__menu-link Выйти
						.account__body
							h1.text-2xl.font-base Заказы
