extends ./layouts/page.pug

include ./mixins/page-navbar.pug

block head
	-
		var title = 'Заказы - SALUZA';

block content
	-
		var heading = 'Заказы';
		var breadcrumbs = [
			{ text: 'Главная', href: '/' }
		];

	+page-navbar({ className: 'offset-header', heading: heading, links: breadcrumbs })

	main.main
