extends ./layouts/page.pug

include ./mixins/ui/button.pug

block head
	-
		var title = 'Регистрация - SALUZA';

block content
	main.main.offset-header
		section.section-auth
			.container.section-auth__container
				form.section-auth__form
					.section-auth__form-head
						a.link.text-neutral-400(href='/login.html') Вход
						a.link.is-current(href='/registration.html') Регистрация
					input.input(name='user_email', type='email', placeholder='E-mail', required)
					input.input(name='user_password', type='password', placeholder='Пароль', required)
					+button({ text: 'Зарегистрироваться', type: 'submit' })
